/* Write some CSS below */

h1 {    font-family: 'Roboto','sans-serif';
    font-size: 32px;
    font-weight: 900;
    color: #204969;
}

h2 { font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    color: #2aa04e;
   
}

#introduction {
margin-bottom: 40px;
}


.btn-blue {
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-weight :600;
    font-size: 17px;
    background-color: #204969;
    padding: 15px 20px;
    font-family: 'Roboto','sans-serif';
    border-radius: 4px;
    }



.btn-blue:hover{
    background-color: #2aa04e;
}

.img-circle {
    border-radius: 50px;
    height: 100px;
    border : 2px solid #204969

}


.card-white  { 
    background-color : #f2f5f8;
    margin: 40px 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 7px;
    padding: 35px;
    box-shadow: 0px 10px 20px #204969;


}
.container {

    background-color : rgb(255, 255, 255);
    width: 680px;
    margin: 50px auto;    
   
}

.line{
    
    list-style-position: inside;
    text-align: justify;
    font-size: large;
    font-weight: lighter;
    font-family: 'Roboto','sans-serif';
}

video {

    height: auto;
max-width: 100%;
}

#Rs{
    color: #204969;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
    display:flex;
   padding-left: 220px;
   margin-bottom: 20px;

}

#Rs:hover{
color: #000;
}

.card-black
{ width: 20px;
}